# Default ignored files
/shelf/

# Template ignored files
__pycache__/
*.swp
~*

# Custom ignored files
*credentials.json
.idea
.pytest_cache
*.pyc
*.log
*_export*
!/test/exports/test_image*
!/test/exports/txt_export.txt
