# Default ignored files
/shelf/

# Template ignored files
__pycache__/
*.swp
~*

# Custom ignored files
*credentials.json
.idea
*.pyc
ui_*.py
*Copy.ui
app.log
TODO.txt
thoughts.txt
*_export*
!/test/assets/test_image*
!/test/assets/txt_export.txt